<!-- your html code here -->
<div class="container py-5">
  <div class="row mb-5">
    <div class="col-9 d-flex flex-column justify-content-center">
      <h4><strong>This First Heading</strong> Will Catch Your Eye</h4>
      <p>
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. 
        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-3 text-end">
      <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Walter_White_S5B.png" alt="Imagen 1" class="img-fluid rounded-circle" style="max-width: 150px;">
    </div>
  </div>
</div>