<div class="conteiner-fluid my-5 mx-5">
    <div class="portfolio-header mx-4 px-5">
        <h2> Portfolio </h2>
        <p>Somos el equipo 2 y este es nuestro Portfolio personal, solo que nos acabamos de conocer y es el primer
            trabajo
            asi que no hay mucho que ver. De momento</p>
    </div>
    <div class="portfolio-body">
        <div class="row my-5 mx-5">
            <div class="col-4 py-3">
                <div class="card">
                    <img class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmttg1skZoFW3XsKi_lJb9BJe8hm6HvMgsyA&s"
                        class="img-fluid" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project name</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua."</p>
                    </div>
                </div>
            </div>
            <div class="col-4 py-3">
                <div class="card">
                    <img class="card-img-top"
                        src="https://ichef.bbci.co.uk/ace/standard/2048/cpsprodpb/3b89/live/60e7ae50-03dc-11f0-a387-437e2fb661fc.jpg"
                        class="img-fluid" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project name</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua."</p>
                    </div>
                </div>
            </div>
            <div class="col-4 py-3">
                <div class="card">
                    <img class="card-img-top"
                        src="https://adventures.com/media/6169/how-to-take-pictures-of-the-northern-lights-camera-tripod-4.jpg?anchor=center&mode=crop&width=970&height=645&rnd=132633097450000000&format=jpg&quality=80"
                        class="img-fluid" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project name</h5>
                        <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>